# Database Configuration
DB_ROOT_PASSWORD=mysql
DB_NAME=inkallajta_tour
DB_USER=inkallajta_user
DB_PASSWORD=inkallajta_pass

# Backend Security
JWT_KEY=InkallajtaTour_SecretKey_2026_SuperSeguro_MinLength32Chars!
CORS_ALLOWED_ORIGINS=*
